*{margin: 0;}

header {
    background-image: url('Imagens/funduu.jpeg');
    color: #ed7835;
    box-shadow: 5px 5px 10px #ed7835;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.0;

    
}
body { background-color: #070507;
margin: 0;
padding: 0;
color: rgba(252, 252, 252, 0.778);
font-family: 'Segoe UI', sans-serif;
z-index: 999999999999;
font-size: large;
line-height: 1.4;
text-align: center;
margin-top: 0;




}


.logo img {
    width: 350px;
    height: 200px;
        
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 500;
}

nav ul li {
    display: inline;
    margin-left: 0px;
    
}

nav ul li a {
    color: #fffbfbc0;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    font-family: "quicksand", sans-serif;

}


.destaque:hover {
    color: #ed7835;
    cursor: pointer; 
    text-shadow: 5px 5px 20px #ed7835;

}
.destaque2:hover {
    color: rgb(10, 245, 45); 
    cursor:pointer; 
    text-shadow: 5px 5px 20px #ffffff;
    text-decoration: none;

}

.destaque2 {
    color: #fbfbfb;
    text-decoration: none;
}


.video {
    position: absolute;
    top: 120px;
    width: 100%;
    right: 0px;
    height: 100%;
    padding: 0px;
 
    }

.videohorario {
    position: relative;
    width: 100%;
    right: 0px;
    height: 100%;
    padding: 0px;
    margin: 20px;
        }


/*link do whatsapp CSS */
.whatsapp-link {
position: fixed;
bottom: 20px;
right: 20px;
z-index: 1000; /* Garante que o ícone esteja acima de outros elementos */
}
.whatsapp-icon {
width: 70px; /* Defina o tamanho desejado */
height: 70px; /* Defina o tamanho desejado */
background-color: transparent;  /* Torna o fundo do ícone transparente */
}
/*link do whatsapp CSS */
/*link do instagram CSS */
.instagram-link {
position: fixed;
bottom: 90px;
right: 20px;
z-index: 1000; /* Garante que o ícone esteja acima de outros elementos */
}
.instagram-icon {
width: 70px; /* Defina o tamanho desejado */
height: 70px; /* Defina o tamanho desejado */
}
/*link do instagram CSS */

/* Estilos para as seções */
section {
    padding: 40px;
    margin-top: 500px

}
.contato{
    margin: none;
    position: flex;
    text-align: center;
    
    

}
.contatowhats {
    position: absolute;
    height: 20px;
    padding: 150px;
    

    }
    .contatowhatss {
    width: 50px; /* Defina o tamanho desejado */
    height: 50px; /* Defina o tamanho desejado */
    background-color: transparent;  /* Torna o fundo do ícone transparente */
    }

.imagem-destaque img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
}

/* Estilos para o rodapé */
footer {
    background-image: url('Imagens/funduu.jpeg');
    color: #fbfbfb;
    text-align: center;
    padding: 20px;
    font-family: 'Segoe UI', sans-serif;
    font-size: large;
    line-height: 1.4;

}


  /* SLIDER */
.carousel-container {
    position: absolute;
    overflow: hidden;
    left: 0px;
    width: 100%;
    color: #ed7835;
    box-shadow: 0px 0px 50px #ed7835;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease;
    
  }
  
  .carousel-item {
    flex: 0 0 auto;
    width: 100%;
  }
  
  .carousel-item img {
    width: 100%;
    height: 500px;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    color: white;
    transition: color 0.3s ease;
    
  }
  
  .prev:hover,
  .next:hover {
    color: #ed7835;
    text-shadow: 5px 5px 20px #ed7835;

}
  
  .prev {
    left: 10px; 
  }
  
  .next {
    right: 10px; 
    margin-left: 10px; 
  }
    /* SLIDER */


/* Responsive Iphone */
@media screen and (max-width: 500px){
    .logo img {
        width: 220px;
        height: 150px;
    }
    nav ul li a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 0.0;
    }
    .video {
        height: 70%; /*aqui esta a cereja do bolo*/
        width: 130%;
        height: 55%;
    }

    .videohorario {
        transform: scale(1.0);
            }

    .imagem-destaque img {
    width: 100%;
    max-height: 100px;
    object-fit: cover;
}

footer {
  
    font-size: small;
    line-height: 1.4;

}
.carousel-container{
height:50%;

}
section {
    padding: 40px;
    margin-top: 350px

}



/* Responsive Samsung s9 */
@media screen and (min-width: 200px){
    .logo img {
        width: 150px;
        height: 100px;
    }
nav ul li a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 0.0;    
        font-size: 15px;
    }

.video {
    height: 70%; /*aqui esta a cereja do bolo*/
    width: 130%;
    height: 55%;
}

.videohorario {
    transform: scale(1.0);
        }

.imagem-destaque img {
width: 100%;
max-height: 100px;
object-fit: cover;
}

footer {

font-size: small;
line-height: 1.4;

}
.carousel-container{
height:50%;

}
section {
padding: 40px;
margin-top: 350px

}


}










/* Responsivel */