header {
    background-image: url('Imagens/funduu.jpeg');
    color: #d40202;
    box-shadow: 5px 5px 10px rgb(255, 8, 8);
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    
}
body { background-color: #070507;
/*background-image: url('Imagens/essefundo.jpg');*/
margin: 0;
padding: 0;
color: rgba(252, 252, 252, 0.778);
font-family: 'Segoe UI', sans-serif;
z-index: 999999999999;
font-size: large;
line-height: 1.4;


}


.logo img {
    width: 350px;
    height: 190px;
        
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 500;
}

nav ul li {
    display: inline;
    margin-left: 20px;
    
}

nav ul li a {
    color: #fffbfbc0;
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    font-size: large;
	z-index: 999999999999;
    padding: 20px

}


.destaque:hover {
    color: rgb(247, 3, 3); /* Cor que deseja quando o mouse passa sobre a palavra */
    cursor: pointer; /* Opcional: Altera o cursor para indicar interatividade */
}


.video {
    position: absolute;
    top: 140px;
    width: 100%;
    right: 0px;
    height: 100%;
    padding: 0px;
    
    }

.videohorario {
    position: absolute;
    width: 100%;
    right: 0px;
    height: 100%;
    padding: 0px;
        }


/*slide*/

      
      
/*slide*/

.serviçosvideo {
    position: absolute;
    left:0;
    width: 220px;
    height: 220px; 
    background-size: auto;
    border-radius: 100%;
    transition: opacity 0.9s ease-in-out;
    box-shadow: 5px 6px 15px rgb(255, 8, 8);
    margin-top: 300px;
    background-color: rgb(226, 98, 0);
    transition: 3s; 
}

.serviçosvideo2 {
    position: absolute;
    left:0;
    width: 220px;
    height: 220px; 
    background-size: cover;
    border-radius: 100%;
    transition: opacity 0.9s ease-in-out;
    box-shadow: 5px 6px 15px rgb(255, 8, 8);
    margin-top: 50px;
    transition: 3s; 

}

.side-content {
    position: absolute;
    right: 0;
    width: 81%; /* Largura do conteúdo ao lado */
    padding: 0x;
    margin-top: 90px

}

.side-content-video {
    position: absolute;
    right: 0;
    width: 81%; /* Largura do conteúdo ao lado */
    padding: 0x;
    margin-top: 360px

}
/*link do whatsapp CSS */
.whatsapp-link {
position: fixed;
bottom: 20px;
right: 20px;
z-index: 1000; /* Garante que o ícone esteja acima de outros elementos */
}
.whatsapp-icon {
width: 70px; /* Defina o tamanho desejado */
height: 70px; /* Defina o tamanho desejado */
background-color: transparent;  /* Torna o fundo do ícone transparente */
}
/*link do whatsapp CSS */
/*link do instagram CSS */
.instagram-link {
position: fixed;
bottom: 90px;
right: 20px;
z-index: 1000; /* Garante que o ícone esteja acima de outros elementos */
}
.instagram-icon {
width: 70px; /* Defina o tamanho desejado */
height: 70px; /* Defina o tamanho desejado */
}
/*link do instagram CSS */

/* Estilos para as seções */
section {
    padding: 40px;
    margin-top: 450px

}
.contato{
    margin: none;
    position: flex;
    text-align: center;
    

}
.contatowhats {
    position: absolute;
    height: 20px;
    padding: 150px;
    

    }
    .contatowhatss {
    width: 50px; /* Defina o tamanho desejado */
    height: 50px; /* Defina o tamanho desejado */
    background-color: transparent;  /* Torna o fundo do ícone transparente */
    }

.imagem-destaque img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
}

/* Estilos para o rodapé */
footer {
    background-image: url('Imagens/funduu.jpeg');
    color: #ff0000;
    text-align: center;
    padding: 20px;
}



